name: "Deploy - To Nexus On Github Release"
on:
  release:
    types: [released]

jobs:
  Deploy-Py-General-Avaiability:
    runs-on: ubuntu-20.04
    container:
      image: registry.cloud.mov.ai/devops/py-buildserver:latest
      credentials:
        username: ${{secrets.PORTUS_APP_USER}} 
        password: ${{secrets.PORTUS_APP_TOKEN}} 
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      
    steps:
    - name: Checkout    
      uses: actions/checkout@v2

    - name: Set tag output
      id: vars
      run: |
        PACKAGE_VERSION=$(echo "${GITHUB_REF#refs/*/}" | sed 's/-/./g')
        echo ::set-output name=tag::${PACKAGE_VERSION}

    - name: Fetch artifact from github release
      run: | 
        mkdir dest
        cd dest
        gh release download ${{ steps.vars.outputs.tag}} -p *.whl
        gh release download ${{ steps.vars.outputs.tag}} -p *.tar.gz
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Publish package to TestPyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: ${{ secrets.NEXUS_PUBLISHER_USR }}
        password: ${{ secrets.NEXUS_PUBLISHER_PWD }}
        repository_url: https://artifacts.cloud.mov.ai/repository/pypi-edge/
